.ui-top {
	padding-top: $uiTop;
}

.ui-bottom {
	padding-bottom: $uiBottom;
}

.overlay {
	background-color: rgba(0,0,0,.6);
}


.box-shadow-transition {
	-webkit-box-shadow: 0 10px 40px rgba(0,0,0,.6);
	        box-shadow: 0 10px 40px rgba(0,0,0,.6);
}

.box-shadow-transition-left {
	-webkit-box-shadow: inset 5px 0 40px rgba(0,0,0,.8);
	        box-shadow: inset 5px 0 40px rgba(0,0,0,.8);
}

.box-shadow-transition-right {
	-webkit-box-shadow: -5px 0px 45px rgba(0,0,0,.8);
	        box-shadow: -5px 0px 45px rgba(0,0,0,.8);
}

.user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;   
	-ms-user-select: none;    
	user-select: none; 
}

//## BOTONES #//
.frwbtn {
	-webkit-appearance:none;
	-moz-appearance:none;
	border: none;
	background: none;
	outline: 0px !important;
	
	margin: 0;
	padding: 0;
	color: inherit;
	
	font-size: inherit;
	
	-webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

	touch-action: auto;

	&:active, &:focus {
		outline: 0px !important;
	}
}


.frwbtn::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.frwbtn-primary {
	position: relative;
	background-color: $c-primary;
	color: $c-contrast;
	&:active {
		top:1px;
		background-color: darken($c-primary,10);
	}
}

.frwbtn-grey {
	position: relative;
	background-color: transparent;
	//color: $c-contrast;
	&:active {
		top:1px;
		background-color: darken($c-grey,10);
	}
}

