.ui-top {
	padding-top: $uiTop;
}

.ui-bottom {
	padding-bottom: $uiBottom;
}

.overlay {
	background-color: rgba(0,0,0,.6);
}


.box-shadow-transition {
	-webkit-box-shadow: 0 10px 40px rgba(0,0,0,.6);
	        box-shadow: 0 10px 40px rgba(0,0,0,.6);
}

.box-shadow-transition-left {
	-webkit-box-shadow: inset 5px 0 40px rgba(0,0,0,.8);
	        box-shadow: inset 5px 0 40px rgba(0,0,0,.8);
}

.box-shadow-transition-right {
	-webkit-box-shadow: -5px 0px 45px rgba(0,0,0,.8);
	        box-shadow: -5px 0px 45px rgba(0,0,0,.8);
}

.user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;   
	-ms-user-select: none;    
	user-select: none; 
}

//## BOTONES #//
.frwbtn {
	-webkit-appearance:none;
	-moz-appearance:none;
	border: none;
	background: none;
	outline: 0px !important;
	
	margin: 0;
	padding: 0;
	color: inherit;
	
	font-size: inherit;
	
	-webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

	touch-action: auto;

	&:active, &:focus {
		outline: 0px !important;
	}
}


.frwbtn::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.frwbtn-primary {
	position: relative;
	background-color: $c-primary;
	color: $c-contrast;
	&:active {
		top:1px;
		background-color: darken($c-primary,10);
	}
}

.frwbtn-grey {
	position: relative;
	background-color: transparent;
	//color: $c-contrast;
	&:active {
		top:1px;
		background-color: darken($c-grey,10);
	}
}

.bg-foto-prado{
	background-image: url("../img/bg-arbol.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
}

.bg-madera{
	background-image: linear-gradient(-180deg, #FFFFFF 20%, rgba(255,255,255,0.00) 93%), url("../img/madera.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.bg-foto-arbol{
	background-image: url("../img/arbol-recorte.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;

	&::before{

		@include modular-mq(sm){
		content:"";
		background-image: url("../img/corte2.png");
		background-repeat: no-repeat;
		z-index:2;
		position: absolute;
		background-position: right;
		background-size: auto 100%;
		height: 100%;
		width: 100%;
		right: 0;
		}

		@include modular-mq(xl) {
			background-image: url("../img/corte.png");
		}

	}
}

.bg-foto-arbol-2{
	background-image: url("../img/arbol-recorte.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-foto-arbol-azul{
	background-image: url("../img/arbolazul.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 432px;
}

.height-prueba{
	height: 600px;
}

.font-weight-r{
	font-weight: 400;
}

.font-weight-m{
	font-weight: 500;
}

.font-weight-b{
	font-weight: 700;
}

.font-weight-bl{
	font-weight: 900;
}

.font-size-48{
	font-size: 48px;
}

.font-size-36{
	font-size: 36px;
}

.line-height-1-3{
	line-height: 1.3;
}

.logo-hunosa{
	max-width:70%;
	height:auto;
}

.logo-sertego{
	max-width:70%;
	height:auto;
}

.color-f1{
	color:#545A59; 
}

.color-f2{
	color:#478AC9; 
}

.color-f3{
	color:#7C7C7B;
}

.margin-hunaser{
	margin-top: -100px;
}

.margin-hunaser-2{
	margin-top: -290px;
}

.margin-frase{
	margin-top: -40px;
	margin-bottom: 50px;
}

.div-fotos{
	height: 144px;
	margin: 0 auto;
}

.padding-left-035{
	padding-left: 35%;
}

.separator-fotos{
	border: 2px solid #849793;
	opacity: 0.16;
}

.font-size-20{
	font-size: 20px;
}

.rombo {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0 30px;
	border-color: white transparent transparent transparent;
	margin: 0 auto;			
	margin-bottom: -60px;
}

.rombo-2 {
	width: 10px; 
	height: 10px; 
	background: #82948E;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.bg-color-1{
	background-color: #478AC9;
}

.bg-color-2{
	background-color: #75B328;
}

.bg-color-3{
	background-color: #82948E;
}

.margin-especial{
	
	margin-top: 40px;

	@include modular-mq(sm){
		margin-top: 80px;
	}
}

.margin-especial-bola{

	margin-top: 40px;
	
	@include modular-mq(sm){
		margin-top: 80px;
	}

}

.bola-size{
	height: 80px;
	width: 80px;
	@include modular-mq(sm){
		height: inherit;
		width: inherit;
	}
	
}
.padding-t-80{
	padding-top: 80px;
}

.padding-b-80{
	padding-bottom: 80px;
}

.bg-footer{
	background: rgba(0,20,13,0.50);
}

 .hide-border{
	border-right: none;
	
	@include modular-mq(md){
		border-right: 2;
		border-color: #ECEFEE;
		border-style: solid;
	}
 }

.font-size-180{
	font-size: 150px;
}


//nav

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}

.show {display:block;}

.margin-hamburguesa{
	margin-top: 60px;
}

//fin nav


.padding-t-60{
	padding-top: 60px;
}

.div-logos{
	height: 355px;
}

.outline-solid{
	outline-style: solid;
	outline-width: thin;
}

.padding-l-80{
	padding-left: 80px;
}

.margin-serv{
	padding-left: 40px;
	 @include modular-mq(sm){
		padding-left: 0px;
	 }
}

.margin-hoja{
	padding-top: 40px;
	 @include modular-mq(md){
		padding-top: 100px;
	 }
}

.text-align-variante{
	text-align: center;
	@include modular-mq(md){
	   text-align: right;
	}
}

.margin-fuego{
	margin-bottom: 10%;
	@include modular-mq(md){
	   margin-bottom: 40%;
	}
}

.margin-rombo{
	margin-top:-26px;
}

.arrow-zindex{
	z-index: 10;
}